@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: white;
    --70: #eeeeee;
    --20: #EAC696;
    --10: #65451F;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

.sidebar ul{
    padding-inline-start: 0;
}
/* 
.sidebar nav ul li{
    list-style-type: none;
    margin: 20px;
    padding-bottom: 5px;
    transition: all 0.4s;
}

.sidebar nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s;
    object-fit: fill;
}



.sidebar nav ul li:hover{
    background: #EAC696;
    color: white;
    transform: translateX(10px);
    border-radius: 10px;
    padding: 10px;
}

.sidebar nav ul li a:active{
    background: #EAC696;
    color: white;
    transform: translateX(10px);
    border-radius: 10px;
    padding: 10px;
}

.sidebar nav ul li a:hover{
    color: white;

} */

ul{
    list-style-type: none;
}

.navbar{
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .navbar-logo img{
    width: 50px;
    height: 50px;
} */

.navbar-left li a{
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding-inline-start: 35px;
    font-size: 20px;
}

.navbar-left ul{
    display: flex;
}

.navbar-left{
    display: flex;
    align-items: center;
}

.navbar-right ul{
    display: flex;
}

.navbar-right li{
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-right li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-inline-end: 20px;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.welcome-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #EAC696;
    }


.home{
        background-image: url(../img/pastrybg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
}

.bg-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(240, 1%, 21%, 0.6);
}

.dropdown{
    display: inline-block;
}

.dropdown button{
    border: none;
    padding: 10px;
    /* margin: 10px; */
    font-size: 20px;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: all 0.4s ease-in-out;
}

.dropdown:hover button{
    background-color: #EAC696;
    cursor: pointer;
    transform: translateX(10px);
    color: white;
}



.dropdown .link{
    margin: 10px;
}


.dropdown a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: black;
    font-weight: 600;
    text-align: left;
}

.dropdown .dd-menu{
    display: none; 
}

.dropdown:hover .dd-menu{
    display: block;
    padding-inline-start: 20px;
    background-color: #EAC696;
    margin: 10px;
    border-radius: 0.5rem;
}


.dropdown .link:hover + .dd-menu{
    background-color: #EAC696;
    margin: 10px;
    border-radius: 0.5rem;
}

.dropdown .fa-solid{
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transition: transform 0.5s ease-in-out;
}

.dropdown:hover .fa-solid{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}


.dd-menu a{
    transition: all 0.4s ease-in-out;
    color: white;
}

.dd-menu a:hover{
    transform: translateX(10px);
}



.explore-btn > a{
    text-decoration: none;
    color:white;
    background-color:transparent;
    padding: 10px;
    border: 3px solid #EAC696;
    background-color: transparent;
    transform: scale(0);
}

.explore-btn a:hover{
    background-color: #EAC696;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    
}

.navbar-logo img{
    transform: scale(1.4);
}

footer {
    display: flex;
    background-color: rgb(110, 110, 110);
    height: 45vh;
}

footer li {
    color: white;
}

.logo-delivery {
    display: flex;
}

.logo-delivery img{
    height: 85px;
    margin-top: 50px;
}

.logo-delivery h2 {
    margin-top: 60px;
    margin-bottom: 50px;
}

.logo-delivery h1 {
    margin: 85px 0 50px 20px;
}

.contact-person {
    list-style: none;
}

.contact-person i {
    font-size: 30px;
    margin-top: 10px;
}


.email a{
    color: white;
    font-size: 20px;
    text-decoration: none;              
}

.email {
    padding: 10px;
}

.email a:hover{
    color: #D1923D;
    text-decoration: none;
}

.footer ol{
    padding-inline-start: 40px;
    transition: all 0.4s ease-in-out;
}

.navbar a:hover {
    color: #D1923D;
}

/* .food {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */

.name-price-tag {
    display:flex;
    flex-direction: row;
    padding: 10px;
}

.food-name {
    background-color: #65451F;
    color: white;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 16px 0 0 16px;
}

.food-price {
    background-color: #EAC696;
    color: white;
    padding: 8px 16px;
    border-radius: 0 16px 16px 0;
}

.description h2 {
    color: white;
    padding: 10px;
}

.description > p {
    color: white;
    padding: 10px;
}

.menu{
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 50px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 600px;
}

.item img{
    width: 400px;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details a{
    text-decoration: none;
    background-color: #EAC696;
    color: white;
    padding: 8px 16px;
    border-radius: 0.5rem;
}

.details a:hover{
    background-color: #b39672;
}

.details-sub{
    /* padding: 10px; */
}

.details-sub h5{
    margin: 10px;
    font-size: 20px;
}

.item-btn{
    margin-left: 220px;
    margin-top: 40px;
}

.food-desc {
    height: 100vh;
    background-image: url(../img/affogato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.food-desc img{
    position: absolute;
    top: 0;
    height: 100vh;
}

.food-overlay {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}